.row-1 {
    background-color: #1e242a;
}

.row-2 {
    background-color: #28323c;
}

.footer-container {
    color: #caced1;
    margin-top: 25px;
}

.footer-img {
    height: 25px;
    width: 25px;
}